/target
/save
/levels/.*.lock
/levels/.*.recover
/levels/.*.tmp.*
/prefabs/.*.lock
/prefabs/.*.recover
/prefabs/.*.tmp.*
*.bin
textures/*.png
textures/*.jpg
textures/*.jpeg
textures/*.tga
textures/*.bmp
